node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


# Node
node_modules
*.log
.nvm
# package-lock.json


# Visual studio
.vscode
.vs

# macOS
.DS_Store
